<!-- template for the proxy login popup -->
<script id="tmpl-proxylogin" type="x-tmpl-mustache">
  <div data-role="popup" id="popup-proxylogin" data-theme="a" data-dismissible="false" class="ui-corner-all" class="dynamic-popup">
    <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
    <div style="padding: 0px 20px 10px 20px;">
      <h3>{{&Please sign in}}</h3>
      <div style="text-align: center;">
        <button id="open-proxy-login" type="submit" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-nodisc-icon ui-icon-check">{{&Sign in}}</button>
        <a href="{{api_url}}/user/register?lng={{lng}}&proj=vocabulary/{{vocabulary}}" target="_blank" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-nodisc-icon ui-icon-user">{{&Register}}</a>
      </div>
    </div>
  </div>
</script>
