<div id="social-share-buttons" style="text-align: right;">
  <a id="share-facebook" href="#" class="ui-btn ui-btn-b ui-nodisc-icon ui-btn-icon-left ui-btn-inline  ui-icon-facebook ui-btn-icon-notext" style="border-radius: 5px; width: 20px; margin-right: 0px">Facebook</a>
  <a id="share-twitter" href="#" class="ui-btn ui-btn-b ui-nodisc-icon ui-btn-icon-left ui-btn-inline  ui-icon-twitter ui-btn-icon-notext" style="border-radius: 5px; width: 20px; margin-right: 0px">Twitter</a>
  <a id="share-linkedin" href="#" class="ui-btn ui-btn-b ui-nodisc-icon ui-btn-icon-left ui-btn-inline  ui-icon-linkedin ui-btn-icon-notext" style="border-radius: 5px; width: 20px; margin-right: 0px">LinkedIn</a>
</div>
